@page
@model ViewModel
@{
}
<div class="form-group">
    <label asp-for="Coin.Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        @Model.Coin.Name
    </div>
</div>
<div class="form-group">
    <label asp-for="Coin.Year" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        @Model.Coin.Year
    </div>
</div>
<div class="form-group">
    <label asp-for="Coin.Nominal" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        @Model.Coin.Nominal
    </div>
</div>
<div class="form-group">
    <label asp-for="Coin.Currency" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        @Model.Coin.Currency
    </div>
</div>
<div class="form-group">
    <label asp-for="Coin.ReferenceNo" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        @Model.Coin.ReferenceNo
    </div>
</div>